<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>
<h1><a class="breadcrumb-item text-dark" href="/"> Company Database</a></h1>
<h2><a class="breadcrumb-item text-dark" href="/c"> Click here to go to Clients Database</a></h2>
<h2></h2><a class="breadcrumb-item text-dark" href="/t"> Click here to go to Therapists Database</a></h2>
<h2></h2><a class="breadcrumb-item text-dark" href="/s"> Click here to go to Sessions Database</a></h2>
<h2></h2><a class="breadcrumb-item text-dark" > Click the headings to return to Home menu</a></h2>

